*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display:flex;
    justify-content: center;
    padding: 0 1.5em;
}
.container {
    max-width: 60em;
    flex:1;
}

.header-section {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    transition: .2s;
}

.nav-links a:hover {
    color: #3882F6;
}

.hero-section {
    background-color: #1F2937;
}

.hero-container {
    display:flex;
    padding: 5em 0;
    gap: 1em;
    flex-wrap: wrap;
}

.hero-texts {
    flex: 1;
}

.hero-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: .3em 1.5em;
    border: .2em solid #3882F6;
    border-radius: .5em;
    font-weight: 600;
    margin: .6em 0;
    font-size: 1.1rem;
    transition: .2s;
}

.sign-up-btn:hover {
    background-color: transparent;
}

.hero-img {
    width: 400px;
    height: 200px;
    background-color: #858ea0;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    background-color: #F9FAF8;;
}

.info-container {
    padding: 3em 0 5em;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 1em;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card {
    flex: none;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .6em;
    color: #1F2937;
}

.card-img-placeholder {
    border: .25em solid #3882F6;
    width: 160px;
    height: 160px;
    border-radius: .5em;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 5em 0 3em;
}

.quote {
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: lighter;
    padding: 0 2em;
}

.quote-signature {
    font-size: 28px;
    color:#1F2937;
    font-weight: 700;
    text-align: right;
    margin: 0 4em;
}

.sign-up-section {
    background-color: #F9FAF8;
}

.sign-up-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 4em 0;
    padding: 0.5em 1em;
    border-radius: .5em;
    height: 8em;
    gap: 1em;
}

.sign-up-text {
    color: #F9FAF8;
}

.sign-up-heading {
    font-size: 28px;
    font-weight: 700;
}

.sign-up-btn-2 {
    background-color: transparent;
    color: #F9FAF8;
    padding: .3em 1.5em;
    border: .2em solid #F9FAF8;
    border-radius: .5em;
    font-weight: 600;
    margin: .6em 0;
    font-size: 1.1rem;
    transition: .2s;
}

.sign-up-btn-2:hover {
    background-color: #F9FAF8;
    color:#3882F6
}